body {
    background: #fcfffe;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap: wrap;
}
.assignment {
    width: 22%;
    padding: 10px;
    margin: 10px;
    margin: 20px 10px;
    background-color: #98ccb6;
    border-radius: 5px;
}

.assignment img {
width: 200px;
padding: 10px;
border: 4PX solid #fff;
display: block;
margin: auto;
}

.assignment img:hover {
border: 4px dashed #f25c69;
}

h1 {
    color:#5d7f71;
    text-align: center;
}
h1:hover{
    color: #f25c69;
}
h2{
   text-align: center; 
}

a { 
    text-decoration: none;
    color: #f25c69;
}